body {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
}

#startScreen {
  margin-top: 80px;
}

#startScreen h1 {
  font-size: 32px;
}

#startScreen button {
  font-size: 18px;
  padding: 12px 24px;
  margin: 10px;
  width: 220px;
}

#quizArea {
  max-width: 500px;
  margin: auto;
}

#question {
  font-size: 24px;
  margin: 20px 0;
}

#answer {
  font-size: 20px;
  width: 90%;
  padding: 10px;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  margin: 10px;
}
